.container {
    @include flexElement(column,space-between,space-between);
    height: 100%;
    h2{
        margin-bottom: 10px;
        @include textStyle(42px,700,$marine-blue);
    }
    p{
        @include textStyle(20px , 400,$cool-gray)
    }
  }
.form{
    margin-bottom: 10%px;
    & .formControl{
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
            margin-bottom: 10px;
            @include textStyle(20px , 400,$marine-blue);
        }
        input{
            outline: 0;
            border: none;
            width: 100%;
            border: 1px solid $light-gray;
            padding: 16px 12px;
            @include borderRadius;
            @include textStyle(24px, 400,$marine-blue);
            &::placeholder{
                @include textStyle(18px,500,$cool-gray);
            }
        }
        .uncompleted{
            border: 1px solid $strawberry-red;
        }

        .error{
            display: inline-flex;
            @include flexElement(row,flex-end,center);
            width: 100%;
            margin-top: 10px;
            @include textStyle(20px, 400,$strawberry-red);
        }
    }
}

.buttonContainer {
    display: flex;
    width: 100%;
    @include flexElement(row,space-between,center);
    gap: 20px;
    direction: rtl;
    .button{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $marine-blue;
        height: 60px;
        @include textStyle(20px,700,$white);
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            opacity: 0.8;
            background-color: $purplish-blue;
        }
    }
    .deActive{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $cool-gray;
        height: 60px;
        cursor: not-allowed;
        transition: 0.5s;
        @include textStyle(20px,700,$white);
        &:hover{
            opacity: 0.8;
        }
    }
    .backButton{
        border: none;
        outline: none;
        @include borderRadius;
        background-color: transparent;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        @include textStyle(20px , 700, $cool-gray);
        &:hover{
            color: $marine-blue;
        }
    }
}

