.container {
    display: flex;
    flex-direction: column;
    h2{
        font-size: 42px;
        font-weight: 700;
        color:$marine-blue;
        margin-bottom: 10px
    }
    p{
        font-size: 22px;
        color: $cool-gray;
    }
}
.pickAddOnsContainer{
    margin: 30px 0;
    & .addOnsContainer{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 20px 20px;
        border: 1px solid $light-gray;
        width: 700px;
        border-radius: 8px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            border-color: $purplish-blue;
        }
        h4{
            color: $marine-blue;
            font-size: 16px;
            margin-bottom: 4px;
        }
        span{
            color: $cool-gray;
            font-size: 14px;
        }

        input{
            &:checked  {
                background-color: #595959;
              }
        }

        .content{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            & .period{
                color: $purplish-blue;
            }
        }
    }
}
