.container {
    @include flexElement(column,space-between,space-between);
    height: 100%;
    h2{
        margin-bottom: 10px;
        @include textStyle(42px,700,$marine-blue);
    }
    p{
        @include textStyle(20px , 400,$cool-gray)
    }
  }
.pickAddOnsContainer{
    margin: 30px 0;
    & .addOnsContainer{
        display: flex;
        @include flexElement(row,flex-start,center);
        gap: 15px;
        padding: 20px 20px;
        border: 1px solid $light-gray;
        width: 700px;
        @include borderRadius;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            border-color: $purplish-blue;
        }
        &.activeAddOnsContainer{
            border-color: $marine-blue;
        }
        h4{
            @include textStyle(16px,500,$marine-blue);
            margin-bottom: 4px;
        }
        span{
            @include textStyle(14px, 400,$cool-gray);
        }

        input{
            &:checked  {
                background-color: #595959;
              }
        }

        .content{
            display: flex;
            width: 100%;
            @include textStyle(row,space-between,center);
            & .period{
                color: $purplish-blue;
            }
        }
    }
}


.buttonContainer {
    display: flex;
    width: 100%;
    @include flexElement(row,space-between,center);
    gap: 20px;
    direction: rtl;
    .button{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $marine-blue;
        height: 60px;
        @include textStyle(20px,700,$white);
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            opacity: 0.8;
            background-color: $purplish-blue;
        }
    }
    .deActive{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $cool-gray;
        height: 60px;
        cursor: not-allowed;
        transition: 0.5s;
        @include textStyle(20px,700,$white);
        &:hover{
            opacity: 0.8;
        }
    }
    .backButton{
        border: none;
        outline: none;
        @include borderRadius;
        background-color: transparent;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        @include textStyle(20px , 700, $cool-gray);
        &:hover{
            color: $marine-blue;
        }
    }
}
