* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.1s;
  }
  
  html,
  body {
    font-family: '__myFont_5bc62a', '__myFont_Fallback_5bc62a';
    max-width: 100vw;
    overflow: hidden;
    margin: 0 !important;
  }
  
  