
.main{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
    padding: 10px 10px;
    gap: 30px;
}
.sidebar{
    background: url('/bg-sidebar-desktop.svg') no-repeat center scroll;
    flex: 1;
    background-size: cover;
    padding: 100px 100px;
    border-radius: 20px;
}
.container {
    flex: 5;
    padding: 100px 100px;
}
.stepContainer {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    & .stepCircle {
        display: inline-flex;
        width: 45px;
        height: 45px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $white;
        font-weight: 500;
        font-size: 18px;
        color: $white;
    }
    & .stepActive{
        background-color: $light-blue;
        color: black;
    }
    & .stepInfo{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
       & .step{
         color: $light-blue;
         font-size: 18px;
         font-weight: 400;
         margin-bottom: 0.9rem;
        }

       & .stepTitle{
         color: $white;
         font-size: 20px;
         font-weight: 500;
        }
    }
}



