.container {
    @include flexElement(column,space-between,space-between);
    height: 100%;
    h2{
        margin-bottom: 10px;
        @include textStyle(42px,700,$marine-blue);
    }
    p{
        @include textStyle(20px , 400,$cool-gray)
    }
  }
  

.buttonContainer {
    display: flex;
    width: 100%;
    @include flexElement(row,space-between,center);
    gap: 20px;
    direction: rtl;
    .button{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $marine-blue;
        height: 60px;
        @include textStyle(20px,700,$white);
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            opacity: 0.8;
            background-color: $purplish-blue;
        }
    }
    .deActive{
        width: 200px;
        border: none;
        outline: none;
        @include borderRadius;
        background-color: $cool-gray;
        height: 60px;
        cursor: not-allowed;
        transition: 0.5s;
        @include textStyle(20px,700,$white);
        &:hover{
            opacity: 0.8;
        }
    }
    .backButton{
        border: none;
        outline: none;
        @include borderRadius;
        background-color: transparent;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        @include textStyle(20px , 700, $cool-gray);
        &:hover{
            color: $marine-blue;
        }
    }
}

.contentContainer{
    display: flex;
    @include flexElement(column,space-between,space-between);
    @include borderRadius;
    width: 100%;
    padding: 50px 30px;
    background-color: $magnolia;
    & .change{
        @include textStyle(18px, 500,$cool-gray);
        margin-top: 5px;
        text-decoration: underline;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            color: $purplish-blue;
        }
    }
}
.planContainer {
    display: flex;
    @include flexElement(row,space-between,center);
    & .planTitle{
        @include textStyle(22px,700,$marine-blue)
    }
    & .planPrice{
      @include textStyle(18px, 700, $marine-blue);
    }
}
.price{
    display: flex;
}

.oncContainer{
    display: flex;
    @include flexElement(row,space-between, center);
    margin-top: 15px;
    & .onsValue{
      @include textStyle(18px, 500,$cool-gray);
    }
    & .onsPrice{
      @include textStyle(16px,500,$marine-blue);
    }
}

.totalContainer{
    display: flex;
    @include flexElement(row,space-between,center);
    padding: 0 30px;
    margin-bottom: 100px;
    & .totalTitle{
      @include textStyle(20px,500,$cool-gray);
    }
    & .totalPrice{
      @include textStyle(28px,700,$purplish-blue);
    }
}